###########################################################################
# THIS IS A CONFIGURATION FILE FOR EXPERIMENT REPRODUCIBILITY             #
###########################################################################
# NOTATION                                                                #
# - do not incapsulate strings between ''                                 #
# - do not put a ; at the end of the line                                 #
# - enclose matrix values between []                                      #
###########################################################################

###########################################################################
## modified by yoon
camera                          = 2
world                           = 1

# INFORMATION RELATED TO THE SEQUENCE  
# IN THE GLOBAL TIME (Time stamp of camera 5)
startingFrame                   = 225000
endingFrame                     = 356648

# HOMOGRAPHY INFORMATION (required only if world is set to true)
imagePoints                     = [683.375,810.875;805.0625,451.4375;1257.875,408.875;1307.75,842.75]
worldPoints                     = [9.125,28.79;23.325,28.79;24.955,32.85;7.675,32.85]

# added homography information - only for camera 2 (stairs plane)
stairsPolygon                   = [1344,1080;1746,1080;1515,483;1270,405]
imagePointsStairs               = [1257.875,408.875;1307.75,842.75;1802.187,931.437;1611.687,496.437]
worldPointsStairs               = [24.955,32.85;7.675,32.85;8.495,36.25;24.955,36.25]

# ROI INFORMATION # by yoon
ROI_INFO = [35 423;574 413;624 300;1075 284;1150 341;1153 396;1260 393;1610 492;1608 460;1614 446;1771 440;1777 485;1894 483;1894 1048;29 1051]

# Threshold for removing false positive detections
# remove detections if (num of white pixels in masks)/(area of detection b-box) < fpRemoval
fpRemoval = 0.1

# work with 30 fps data if this is set to 1. 
# Set 'halfFrameRate = 0' to work with original 60 fps data.
halfFrameRate = 1

## modification end
###########################################################################

# SOME FILTERING INFO
minTargetDistance               = 0.5
confidenceThresh                = -0.75
maxPedestrianHeight             = 330
minimumTrajectoryDuration       = 50

# OPTIMIZATION METHOD - can be BIP (exact) or AL-ICM (approximate)
method                          = BIP
useGrouping                     = 1

###########################################################################
# TRACKLETS PARAMETERS                                                    #
###########################################################################

loadTracklets                   = 0
# loadAppearance is set to 0 because the appearance feature has to be re-computed.
loadAppearance                  = 0
tracklets.frameInterval         = 25
tracklets.alpha                 = 1
tracklets.beta                  = 0.01
tracklets.lambda                = 6
tracklets.mu                    = 0.25
tracklets.clusterCoeff          = 1
tracklets.nearestNeighbors      = 8
tracklets.speedLimit            = 20
tracklets.distanceType          = histogram_intersection
tracklets.minTrackletLength     = 10

###########################################################################
# TRAJECTORIES PARAMETERS                                                 #
###########################################################################

loadTrajectories                = 0
trajectories.appearanceGroups   = 1
trajectories.alpha              = 1
trajectories.beta               = 0.01
trajectories.lambda             = 6
trajectories.mu                 = 0.15
trajectories.windowWidth        = 300
trajectories.overlap            = 150
trajectories.speedLimit         = 30
trajectories.distanceType       = histogram_intersection
trajectories.indifferenceTime   = 150

